streamlit
pandas
numpy
plotly
seaborn
matplotlib
google-play-scraper
textblob
scikit-learn
scipy
networkx>
wordcloud
nltk
requests
schedule
selenium
gspread
oauth2client
werkzeug
openpyxl
beautifulsoup4
aiohttp
python-dateutil
pytz
holidays
